<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chemi_客户端_3.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8BF2A9941DAB6016003E5A30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BF2A9AD1DAB6017003E5A30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BF2A9B81DAB6017003E5A30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
